*{
    padding: 0px;
    margin: 0px;
}
h3.heading{
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2d3e3f;
    margin: 30px;
    font-size: 2ex;
}
body{
    background-color: #c1c1c1;
}
.container{
    background: #2d3e3f;
    width: 350px;
	height: 600px;
    position: absolute;
	top:50%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 40px 50px 0px 50px;
    border-radius: 10px;
}
.fl{
    float: left;
    width: 110px;
    line-height: 35px;
}
.formlabels{
    color: white;
}
.fr{
	float: right;
}
.clr{
	clear: both;
}
.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}
.textBox{
	height: 35px;
	width: 190px;
	border: none;
    padding-left: 20px;
}
.dropdown{
	height: 35px;
	width: 210px;
	border: none;
    padding-left: 20px;
}
.new{
    float: left;
}
.iconBox{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
    background: #ff6600;
}
i{
    color: white;
}
.radioBox{
	color: white;
	line-height: 38px;
}
.termsBox{
	line-height: 30px;
	text-align: center;
	background: #2d3e3f;
	color: white;
}
.submit,.reset{
	border: none;
	color: white;
	width: 110px;
	height: 35px;
	background: #ff6600;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
}
input[type = "reset"]:hover,
input[type = "submit"]:hover{
    color: #2d3e3f;
}
h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}
.buttons{
    text-align: center;
}
.button1,.button2{
    display: inline-block;
}
.textArea{
	border: none;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}